@charset "utf-8";
/* 공통 스타일 */
*{
    margin: 0; padding: 0;
}
ul li{
    list-style: none;
}
a{
    text-decoration: none;
    color: #f1f1f1;
}
/* 모바일 기준 */

/* header 스타일 */
header .navbar .navbar_logo{
    font-size: 24px;
    padding-left: 20px;
}
header .navbar .navbar_logo a:hover{
    color: skyblue;
}

header .navbar{
    display: flex;
    flex-direction: column;
    background-color: navy;
}
header .navbar_menu{
    width: 100%;
    display: flex;
    flex-direction: column;
}
header .navbar_menu li{
    text-align: center;
    padding: 10px;
}
header .navbar_menu li:hover{
    background-color: skyblue;
    border-radius: 3px;
}
@media screen and (min-width: 768px) {
    header .navbar{
        display: flex;
        flex-direction: row;
    }
    header .navbar_menu{
        /* width: 100%; */
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        margin-right: 150px;
    }
    header .navbar_menu li{
        padding: 16px 24px;
        margin-left: 20px;
    }
    header .navbar .navbar_logo{
        line-height: 53px;
    }
}