@charset "utf-8";

* {
    margin: 0;
    padding: 0;
    font-family: "Noto Sans KR"

}

a {
    list-style: none;
    text-decoration: none;
    color: black;
}

ul li {
    list-style: none;
}

#container {
    width: 100%;
}

/* header 스타일 - 모바일 기준  */
header .navbar {
    /* border: 5px solid red; */
    display: flex;
    flex-direction: column;
    /* flex-direction: 로고 박스와 메뉴 박스, 두박스를 어떻게 놓을 건지 */

}

header .navbar .nav_logo {
    /* border: 5px solid yellow; */
    /* background-color: darkgrey; */
    font-size: 1.5em;
    padding-left: 20px;
    padding-top: 5px;
    height: 40px;
    margin-top: 2px;
}

header .navbar .nav_logo a {
    font-weight: 600;
    padding: 7px;
    color: black;

}

header .navbar .nav_logo a:hover {
    color: black;
    border: 1px solid #222;
    border-radius: 100%;
}

header .navbar .nav_menu {
    /* border: 5px solid green; */
    display: flex;
    flex-direction: column;
    /* background-color: lightgrey; */
}

header .navbar .nav_menu li {
    text-align: center;
    padding: 10px;
    font-size: 1.1em;
    font-weight: 500;
}

header .navbar .nav_menu li a:hover {
    color: black;
    border: 1px solid #222;
    padding: 5px;
    text-decoration: underline;
}

header .navbar .nav_toggle {
    position: absolute;
    right: 10px;
    font-size: 1.5em;
    padding: 5px 20px 5px 5px;

}

/* ------------------------------------------------------------ */
main {
    border: 1px solid #222;
}

footer {
    /* border: 1px solid #222; */
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 50px;
}

footer #footerbox {
    width: 100%;

}

footer #footerbox #footermenu {
    display: flex;
    flex-direction: row;
    float: right;
}

footer #footerbox #footermenu li {
    line-height: 50px;

}

footer #footerbox #footermenu li a {
    border-right: 1px solid gray;
    padding-right: 5px;
    padding-left: 5px;
   
}

footer #footerbox #footermenu li a:nth-child(4) {
    border: none;
}